Fr2ViTranslator/Web References/En2ViTranslatorService/En2ViTranslatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TransEn2Vi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransEn2ViResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransEn2ViResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TransEn2ViSoapIn">
    <wsdl:part name="parameters" element="tns:TransEn2Vi" />
  </wsdl:message>
  <wsdl:message name="TransEn2ViSoapOut">
    <wsdl:part name="parameters" element="tns:TransEn2ViResponse" />
  </wsdl:message>
  <wsdl:portType name="En2ViTranslatorServiceSoap">
    <wsdl:operation name="TransEn2Vi">
      <wsdl:input message="tns:TransEn2ViSoapIn" />
      <wsdl:output message="tns:TransEn2ViSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="En2ViTranslatorServiceSoap" type="tns:En2ViTranslatorServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransEn2Vi">
      <soap:operation soapAction="http://tempuri.org/TransEn2Vi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="En2ViTranslatorServiceSoap12" type="tns:En2ViTranslatorServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransEn2Vi">
      <soap12:operation soapAction="http://tempuri.org/TransEn2Vi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="En2ViTranslatorService">
    <wsdl:port name="En2ViTranslatorServiceSoap" binding="tns:En2ViTranslatorServiceSoap">
      <soap:address location="http://localhost:9504/En2ViTranslatorService.asmx" />
    </wsdl:port>
    <wsdl:port name="En2ViTranslatorServiceSoap12" binding="tns:En2ViTranslatorServiceSoap12">
      <soap12:address location="http://localhost:9504/En2ViTranslatorService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>